<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.fgtw.photon-messenger</string>
	<key>CFBundleName</key>
	<string>Photon Messenger</string>
	<key>CFBundleExecutable</key>
	<string>photon-messenger</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Photon uses Bluetooth to detect and pair your other devices in person during setup.</string>
</dict>
</plist>
